
@font-face {
  font-family: 'nexabold';
  src: url('../../common/assets/fonts/nexa-bold-webfont.woff') format('woff2'),
       url('../../common/assets/fonts/nexa-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'nexalight';
  src: url('../../common/assets/fonts/nexa-light-webfont.woff2') format('woff2'),
       url('../../common/assets/fonts/nexa-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'nexaregular';
  src: url('../../common/assets/fonts/nexa-regular-webfont.woff2') format('woff2'),
       url('../../common/assets/fonts/nexa-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}