@import "_fonts";
@import "tailwind";

.stroke-custom {
  path {
    stroke-width: 3px !important;
  }
}

.shadowed {
  text-shadow: 2px 1px 3px #000000;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.mockup {
   background-image: url('../assets/media/temp_phone-mockup.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

.award {
  background-image: url('../assets/media/award.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}


.swiper {
    margin: 0px 0px 27px 0px;
}

input[type=text]:focus {
  border: 2px solid #0EA5E9;
}
